*{
margin: 0%;
padding: 0%;
box-sizing: border-box;

}

body{
    background-color:#111826;
    color: #F22797;;
    


}

header{
    box-shadow: 0 2px 10px rgba(0,0,0, 0.5);
background-color: #07D9C4;
padding: 25px 30px;

}

nav a{
text-decoration: none;
color:#0B688C ;
margin: 15px;

}

nav a:hover{
color: #F22797;



}

footer{
 position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;               
  background-color: #F22797;
  color: #07D9C4;
  padding: 10px 30px;        
  
  display: flex;
  justify-content: flex-end;  
  align-items: center;       
  box-sizing: border-box;    
  font-weight: bold;
  z-index: 1000;  

}

.introduccion{
display: flex;
padding: 10px 5px



}

main.inicio {
  display: flex;
  flex-direction:column ; 
  align-items: center;    
  gap: 30px;              
  min-height: 100vh;      
  padding: 5px;
  
}

.foto{
display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;    
  padding: 20px;

}
.foto-mia{
width: 200px;
height: 350px;

 

}

.habilidades {

  padding: 40px 20px;

  color: #F22797;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px; 
  flex-wrap: wrap;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
}

.logo img {
  height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.logos img:hover {
  transform: scale(1.5);
}


.prueba {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
}

.prueba img {
  height: 300px;
  object-fit: contain;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}


